@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.article {
  font-family: "Poppins";
  margin: 30px 205px;
  background: rgba(242, 242, 242, 0.507);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.185);
  border-radius: 5px;
  padding: 5px 20px;

  .card-header {
    display: flex;
    justify-content: space-between;

    em {
      font-size: 16px;
      font-weight: lighter;
      @media all and(max-width:400px) {
        font-size: 10px;
      }
    }

    h3 {
      margin: 0;
      color: #8a1c1c;
      font-size: 19px;
      @media all and(max-width:400px) {
        font-size: 15px;
      }
    }
  }
  .content {
    margin: 0;
    font-size: 19px;
    color: rgb(94, 94, 94);
    @media all and(max-width:400px) {
      font-size: 14px;
    }
  }

  .note {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: lighter;

    span {
      color: #eeb72c;
    }
    @media all and(max-width:400px) {
      font-size: 10px;
    }
  }
  textarea {
    width: 100%;
    resize: none;
    height: 70px;
    outline: none;
  }
  .btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0 5px;

    button {
      width: 70px;
      height: 20px;
      font-size: 0.7rem;
      margin: 0 2px;
      cursor: pointer;

      &:hover {
        filter: brightness(110%);
      }
    }
  }
  @media all and(max-width:830px) {
    margin: auto;
    width: 80%;
  }
  @media all and(max-width:400px) {
    margin: auto;
    width: 80%;
  }
}
