@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.moodimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 50px;

}

.imgMaison,
.imgFetard,
.imgAmoureux,
.imgAmis,
.imgFamille {
    width: 180px;
    height: 180px;
    padding-top: 145px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 90%;
    border-color: transparent;

}

.imgMaison:hover, // effet hover zoom + opacité
.imgFetard:hover,
.imgAmoureux:hover,
.imgAmis:hover,
.imgFamille:hover {
    opacity: .7;
    transition: .3s ease-in-out;
    transform: scale(1.2)

}   

.imgMaison {
    background-image: url(../../../../public/assets/moodday/maison.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0%;
    box-shadow: 1px 2px 15px 4px rgba(5, 5, 5, 0.301);

}

.imgFetard {
    background-image: url(../../../../public/assets/moodday/fetard.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0%;
    box-shadow: 1px 2px 15px 4px rgba(5, 5, 5, 0.301);


}

.imgAmoureux {
    background-image: url(../../../../public/assets/moodday/amoureux.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0%;
    box-shadow: 1px 2px 15px 4px rgba(5, 5, 5, 0.301);
}

.imgAmis {
    background-image: url(../../../../public/assets/moodday/amis.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0%;
    box-shadow: 1px 2px 15px 4px rgba(5, 5, 5, 0.301);
}

.imgFamille {
    background-image: url(../../../../public/assets/moodday/famille.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0%;
    box-shadow: 1px 2px 15px 4px rgba(5, 5, 5, 0.301);
}

h1 {
    text-align: center;
    font-family: "Poppins";
    color: #8a1c1c;
}