.ouSortir__text {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}

.ouSortir__btn1, .ouSortir__date, .ouSortir__btnVal {
    height: 30px;
    width: 250px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(242, 242, 242);
    border-color: transparent;
}

.ouSortir__btnVal {
    background-color: #8a1c1c;
    color: rgb(242, 242, 242);
    
}