.unik {
    background-color: rgba(242, 242, 242, 0.473);
    box-shadow: 1px 2px 15px 4px rgba(5, 5, 5, 0.493);
    width: 800px;
    height: 360px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    margin-top: 60px;
}