@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.unePref__text {
    font-size: 30px;
    margin-top: 50px;
    font-family: "Poppins";
}

 .unePref__btn1, .unePref__btn2, .unePref__btn3, .unePref__btn4, .unePref__btnVal{
    height: 30px;
    width: 250px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(242, 242, 242);
    border-color: transparent;
    cursor: pointer;
}

.unePref__btnVal {
    background-color: #8a1c1c;
    color: rgb(242, 242, 242);
    
}