@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.unePref__text {
    font-size: 30px;
    margin-top: 50px;
    font-family: "Poppins";
    background-color:rgb(242, 242, 242);
    color: #8a1c1c;
}

 .unePref__btn1, .unePref__btn2, .unePref__btn3, .unePref__btn4, .unePref__btnVal{
    height: 30px;
    width: 250px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(242, 242, 242);
    border-color: transparent;
    cursor: pointer;

    &:hover {
        background:  #8a1c1cc9;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
}

.unePref__btnVal {
    background-color: #8a1c1c;
    color: rgb(242, 242, 242);

    &:hover {
        background:  rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    
}