.carouselmodif {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    .link {
        padding: 10px;
        text-decoration: none;
        color: white;
        background-color: #8a1c1c;
        border-radius: 5px;
        &:hover {
            background-color: black;
            border-radius: 5px;
            color: white;
        }
    }
}

.componentCarousel {
    width: 50%;
    height: auto;
}

.carousel .slider.animated {
    img {
        width: auto;
        height: 300px;
        background-size: cover;
    }
}
