.carouselmodif {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    h1 {
        font-size: 25px;
    }

    .link {
        padding: 10px;
        text-decoration: none;
        color: white;
        background-color: #8a1c1c;
        border-radius: 5px;
        &:hover {
            background-color: black;
            border-radius: 5px;
            color: white;
        }
    }
    .card-carousel {
        background-color: rgb(242, 242, 242);
        width: 92%;
        border-radius: 10px;
        padding: 2px;
        margin: 2% 4% 2% 4%;
        
    }
}

.componentCarousel {
    width: 50%;
    height: auto;
}

.carousel .slider.animated {
    img {
        margin-top: 15px;
        width: auto;
        height: 375px;
        background-size: cover;

    }
}
.slide.selected {
    h5 {
        margin: auto;
        font-family: "Poppins";
        span {
            font-size: 25px;
        }
    }
}

    

