@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');



$color-1: #8a1c1c;

body {
    margin: 0;
}

.header {
    margin: 0;
    background-color: rgb(242, 242, 242);
}

.title-header {
    color: rgb(55, 55, 55);
    margin: 3px 0px 0px 0px;
    font-size: 50px;
    font-family: "Architects Daughter";
    text-align: center;

    span {
        color: $color-1
    }
    
}

.title-header-h3 {
    padding-bottom: 20px;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0;
    font-family: "Poppins";
    font-style: italic;
    text-align: center;

}

.logo-header img {  
    position: absolute;
    top: 25px;
    left: 20px;
    height: 100px;
    width: 250px;
}


.navigation {
    font-family: "Poppins";
    display: flex;
    justify-content: center;

  
    a {
      margin: 1px;
      padding: 10px;
      border-radius: 4px;
      position: relative;
      font-size: 16px;
      text-decoration: none;
      color: rgb(91, 91, 91);
      cursor: pointer;
    }

    li {
      list-style-type: none;
    }
    .nav-active {
      &::after {
        content: "";
        width: 85%;
        height: 5px;
        background-color: $color-1;
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
}

 
  