.Home.ousortir .video{
    position:absolute;
    z-index: -1;
    width: 100%;
    top: 50%;
    object-fit: cover;
    transform: translate(-50% -50%);
}
.Home.Home.ousortir{
background-size: cover;
background-repeat: no-repeat;
background-position:center;
width: 100%;
height: 600px;
display: flex;
justify-content:center; 
align-items: center;
}