.Home {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-attachment: fixed;
}

.video {
    width: 100%; 
   
    
}