.contactBlock {
    background-image: url(../../../../public/assets/ImgHome/paris.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}